@model IEnumerable<NewHouse.Data.Reservation>

@{
    ViewData["Title"] = "Резервации";
}

<h1>Резервации</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Period)*@
                Наето време
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.RegisterOn)*@
                Дата на наемане
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Properties)*@
                Номер на жилището
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Users)*@
                Клиент
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Period)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Properties.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.UserName)
            </td>
            <td>
                    @if (User.IsInRole("Admin"))
                    {
                    <a asp-action="Edit" asp-route-id="@item.Id">Промени</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Подробности</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                    }

              
            </td>
        </tr>
}
    </tbody>
</table>
